In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot, dates

In [2]:
df = pd.read_csv('arbrat_viari.csv')
df.head()

,CODI,X_ETRS89,Y_ETRS89,LATITUD_WGS84,LONGITUD_WGS84,TIPUS_ELEMENT,ESPAI_VERD,ADRECA,ALCADA,CAT_ESPECIE_ID,...,CATEGORIA_ARBRAT,AMPLADA_VORERA,DATA_PLANTACIO,TIPUS_AIGUA,TIPUS_REG,TIPUS_SUPERFICIE,TIPUS_SUPORT,COBERTURA_ESCOCELL,MIDA_ESCOCELL,VORA_ESCOCELL
0,0000022AR,430318.000,4587766.000,41.438443,2.165906,ARBRE VIARI,"Can Ensenya, C.V. (Fabra i Puig 439, Villalba ...","Pg Fabra i Puig, 468",NaN,1104,...,NaN,NaN,NaN,NaN,MÀNEGA,PAVIMENT,ESCOCELL QUADRAT,SENSE COBERTURA,major que o igual a 100 cm,VORA METÀL·LICA
1,0000025AR,430270.562,4587637.998,41.437287,2.165353,ARBRE VIARI,"Central de Nou Barris, Parc","Pg Fabra i Puig, 450",PETITA,152,...,PRIMERA,NaN,09/05/2017,NaN,GOTEIG,PAVIMENT,ESCOCELL TRIANGULAR,SENSE COBERTURA,major que o igual a 100 cm,ALTRES
2,0000028AR,430277.559,4587643.344,41.437335,2.165436,ARBRE VIARI,"Central de Nou Barris, Parc","Pg Fabra i Puig, 450",PETITA,152,...,PRIMERA,NaN,09/05/2017,NaN,GOTEIG,PAVIMENT,ESCOCELL TRIANGULAR,SENSE COBERTURA,major que o igual a 100 cm,ALTRES
3,0000386AR,430035.239,4587693.836,41.437769,2.162530,ARBRE VIARI,"Central de Nou Barris, Parc","C\ Doctor Letamendi, 90",MITJANA,126,...,SEGONA,NaN,NaN,NaN,SENSE INFORMAR,PAVIMENT,ESCOCELL TRIANGULAR,SENSE COBERTURA,major que o igual a 100 cm,VORA METÀL·LICA
4,0000387AR,430032.831,4587696.005,41.437788,2.162501,ARBRE VIARI,"Central de Nou Barris, Parc","C\ Doctor Letamendi, 90",MITJANA,126,...,SEGONA,NaN,NaN,NaN,SENSE INFORMAR,PAVIMENT,ESCOCELL TRIANGULAR,SENSE COBERTURA,major que o igual a 100 cm,VORA METÀL·LICA

In [3]:
df.isnull().sum()

CODI                       0
X_ETRS89                   0
Y_ETRS89                   0
LATITUD_WGS84              0
LONGITUD_WGS84             0
TIPUS_ELEMENT              0
ESPAI_VERD            134446
ADRECA                     0
ALCADA                  5740
CAT_ESPECIE_ID             0
NOM_CIENTIFIC              0
NOM_CASTELLA            3187
NOM_CATALA              3398
CATEGORIA_ARBRAT        3055
AMPLADA_VORERA         25594
DATA_PLANTACIO        134203
TIPUS_AIGUA           153082
TIPUS_REG                 10
TIPUS_SUPERFICIE        5287
TIPUS_SUPORT            5255
COBERTURA_ESCOCELL     17207
MIDA_ESCOCELL          19403
VORA_ESCOCELL           8556
dtype: int64

In [4]:
df.shape[0] #We get the total number of trees

156511

# Importante

In [5]:
df['ESPAI_VERD'].value_counts()[:10]

Can Dragó, Parc Esportiu de                              728
Taulat, Ramb.a (La Jonquera-Selva de Mar)                431
Marina del Prat Vermell                                  304
Diagonal Av. (Gràcia, Pg. - St. Joan, Pg.)               285
Prim, Rbla. (Cristobal de Moura - Pere IV )              285
Parc de la Vall d' Hebrón                                269
Aragó - Guipúscoa                                        219
Sant Joan, Pg. (Gran Via C.C. - Diagonal, Avda.)         214
Diagonal, Av. (Francesc Macià Pl. - Cinc d'Oros, Pl.)    207
Lluís Companys, Pg.                                      203
Name: ESPAI_VERD, dtype: int64

In [6]:
df['NOM_CIENTIFIC'].value_counts()[:3]

Platanus x hispanica       43979
Celtis australis           19514
Styphnolobium japonicum     8834
Name: NOM_CIENTIFIC, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156511 entries, 0 to 156510
Data columns (total 23 columns):
CODI                  156511 non-null object
X_ETRS89              156511 non-null float64
Y_ETRS89              156511 non-null float64
LATITUD_WGS84         156511 non-null float64
LONGITUD_WGS84        156511 non-null float64
TIPUS_ELEMENT         156511 non-null object
ESPAI_VERD            22065 non-null object
ADRECA                156511 non-null object
ALCADA                150771 non-null object
CAT_ESPECIE_ID        156511 non-null int64
NOM_CIENTIFIC         156511 non-null object
NOM_CASTELLA          153324 non-null object
NOM_CATALA            153113 non-null object
CATEGORIA_ARBRAT      153456 non-null object
AMPLADA_VORERA        130917 non-null float64
DATA_PLANTACIO        22308 non-null object
TIPUS_AIGUA           3429 non-null object
TIPUS_REG             156501 non-null object
TIPUS_SUPERFICIE      151224 non-null object
TIPUS_SUPORT          151256 non-null object
COBERTURA_ESCOCELL    139304 non-null object
MIDA_ESCOCELL         137108 non-null object
VORA_ESCOCELL         147955 non-null object
dtypes: float64(5), int64(1), object(17)
memory usage: 27.5+ MB

# Importamos calidad del aire

In [62]:
df_air = pd.read_csv('2019_01_Gener_qualitat_aire_BCN.csv')
df_air.head()

,nom_cabina,qualitat_aire,codi_dtes,zqa,codi_eoi,longitud,latitud,hora_o3,qualitat_o3,valor_o3,hora_no2,qualitat_no2,valor_no2,hora_pm10,qualitat_pm10,valor_pm10,generat,dateTime
0,Barcelona - Sants,Bona,ID,1,8019042,2.1331,41.3788,NaN,NaN,NaN,23h,Bona,86 µg/m³,NaN,NaN,NaN,01/01/2019 0:00,1546297502
1,Barcelona - Eixample,Regular,IH,1,8019043,2.1538,41.3853,23h,Bona,3 µg/m³,23h,Regular,112 µg/m³,23h,Bona,36 µg/m³,01/01/2019 0:00,1546297502
2,Barcelona - Gràcia,Regular,IJ,1,8019044,2.1534,41.3987,23h,Bona,3 µg/m³,23h,Regular,113 µg/m³,23h,Regular,39 µg/m³,01/01/2019 0:00,1546297502
3,Barcelona - Ciutadella,Bona,IL,1,8019050,2.1874,41.3864,23h,Bona,2 µg/m³,23h,Bona,74 µg/m³,NaN,NaN,NaN,01/01/2019 0:00,1546297502
4,Barcelona - Vall Hebron,Bona,IN,1,8019054,2.1480,41.4261,23h,Bona,10 µg/m³,23h,Bona,67 µg/m³,23h,Bona,12 µg/m³,01/01/2019 0:00,1546297502

In [63]:
df_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5904 entries, 0 to 5903
Data columns (total 18 columns):
nom_cabina       5904 non-null object
qualitat_aire    5904 non-null object
codi_dtes        5904 non-null object
zqa              5904 non-null int64
codi_eoi         5904 non-null int64
longitud         5904 non-null float64
latitud          5904 non-null float64
hora_o3          4323 non-null object
qualitat_o3      4323 non-null object
valor_o3         4323 non-null object
hora_no2         5774 non-null object
qualitat_no2     5774 non-null object
valor_no2        5774 non-null object
hora_pm10        4387 non-null object
qualitat_pm10    4387 non-null object
valor_pm10       4387 non-null object
generat          5904 non-null object
dateTime         5904 non-null int64
dtypes: float64(2), int64(3), object(13)
memory usage: 830.3+ KB

In [64]:
df_air['valor_o3'].isnull().sum()

1581

In [65]:
df_air = df_air.dropna(subset=['valor_o3'])
df_air = df_air[df_air.valor_o3 != '--']
df_air = df_air.dropna(subset=['valor_no2'])
df_air = df_air[df_air.valor_no2 != '--']
df_air = df_air.dropna(subset=['valor_pm10'])
df_air = df_air[df_air.valor_pm10 != '--']

In [66]:
df_air['valor_o3'] = df_air['valor_o3'].apply(lambda x: x.replace(' µg/m³','')) #elimina medida en o3
df_air['valor_no2'] = df_air['valor_no2'].apply(lambda x: x.replace(' µg/m³','')) #elimina medida en no2
df_air['valor_pm10'] = df_air['valor_pm10'].apply(lambda x: x.replace(' µg/m³','')) #elimina medida en pm10

In [67]:
df_air['generat'] = df_air['generat'].astype('datetime64[ns]')
df_air['valor_o3'] = df_air['valor_o3'].astype('int64')
df_air['valor_no2'] = df_air['valor_no2'].astype('int64')
df_air['valor_pm10'] = df_air['valor_pm10'].astype('int64')

# Importante

In [68]:
df_air.groupby('nom_cabina')['valor_o3'].mean() #Ozone

nom_cabina
Barcelona - Eixample        22.694268
Barcelona - Gràcia          24.510367
Barcelona - Observ Fabra    59.575419
Barcelona - Palau Reial     33.462016
Barcelona - Vall Hebron     38.723703
Name: valor_o3, dtype: float64

In [69]:
df_air.groupby('nom_cabina')['valor_no2'].mean() #Nitrogen Dioxide

nom_cabina
Barcelona - Eixample        48.415605
Barcelona - Gràcia          45.732057
Barcelona - Observ Fabra    11.113128
Barcelona - Palau Reial     27.815504
Barcelona - Vall Hebron     28.342216
Name: valor_no2, dtype: float64

In [70]:
df_air.groupby('nom_cabina')['valor_pm10'].mean() #Particulate Matter

nom_cabina
Barcelona - Eixample        21.055732
Barcelona - Gràcia          20.953748
Barcelona - Observ Fabra    10.075419
Barcelona - Palau Reial     13.897674
Barcelona - Vall Hebron     14.258065
Name: valor_pm10, dtype: float64

In [80]:
df_money = pd.read_csv('Renta arboles por barrio.csv', sep = ";")
df_money.columns = ['Neighborhood','Average_wealth','Trees/Neighborhood']
df_money.head(11)

             Neighborhood Average_wealth Trees/Neighborhood
0            Ciutat Vella      27.235,33           6.991,00
1                Eixample      44.849,70          22.678,00
2                  Gracia      36.323,67           7.291,00
3        Horta - Guinardo      30.248,33          13.905,00
4               Les Corts      56.732,50          13.425,00
5              Nou Barris      24.057,50          15.577,00
6             Sant Andreu      30.399,00          16.332,00
7              Sant Marti      31.384,00          30.291,00
8        Sants - Montjuic      27.795,00          16.501,00
9   Sarria - Sant Gervasi      72.529,00          14.107,00
10              Total BCN      39.030,80         157.098,00

In [83]:
df_air['valor_o3'].max()

99

In [87]:
df_air[df_air['valor_o3'] == 99]

,nom_cabina,qualitat_aire,codi_dtes,zqa,codi_eoi,longitud,latitud,hora_o3,qualitat_o3,valor_o3,hora_no2,qualitat_no2,valor_no2,hora_pm10,qualitat_pm10,valor_pm10,generat,dateTime
4599,Barcelona - Observ Fabra,Bona,OF,1,8019058,2.1239,41.4183,3h,Bona,99,3h,Bona,1,3h,Bona,6,2019-01-25 04:00:00,1548385502

In [84]:
df_air['valor_no2'].max()

173

In [88]:
df_air[df_air['valor_no2'] == 173]

,nom_cabina,qualitat_aire,codi_dtes,zqa,codi_eoi,longitud,latitud,hora_o3,qualitat_o3,valor_o3,hora_no2,qualitat_no2,valor_no2,hora_pm10,qualitat_pm10,valor_pm10,generat,dateTime
4649,Barcelona - Eixample,Regular,IH,1,8019043,2.1538,41.3853,10h,Bona,4,10h,Regular,173,10h,Bona,22,2019-01-25 11:00:00,1548410702

In [85]:
df_air['valor_pm10'].max()

51

In [90]:
df_air[df_air['valor_pm10'] == 51]

,nom_cabina,qualitat_aire,codi_dtes,zqa,codi_eoi,longitud,latitud,hora_o3,qualitat_o3,valor_o3,hora_no2,qualitat_no2,valor_no2,hora_pm10,qualitat_pm10,valor_pm10,generat,dateTime
89,Barcelona - Eixample,Pobra,IH,1,8019043,2.1538,41.3853,10h,Bona,2,10h,Bona,79,11h,Pobra,51,2019-01-01 11:00:00,1546337101